/node_modules
/public/hot
/public/storage
/storage/app/chunks/*
/storage/app/public/data/categories/*
/storage/app/public/data/medias/*
/storage/app/public/data/affiches/*
/storage/app/public/data/sous-categories/*
/storage/app/public/data/proverbes/*
/storage/app/public/data/partenaires/*
/public/data/categories/*
/public/data/affiches/*
/public/data/medias/*
/public/data/partenaires/*
/public/data/proverbes/*
/public/data/sous-categories/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
